.weather-container-home{
    margin-left: "33%";
    display: flex;
    flex-direction: column;
    align-items: center;
}

.weather-component-home{
    height: 150px;
    width: 450px;
    background-color: lightblue;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 25px;
}