#desktop-navbar{
    display: flex;
    align-items: center;
    gap: 18px;
    box-shadow: 0px 4px 8px rgba(0,0,0,0.4);

    background-color: rgba(0,0,0,0.3);

    position: fixed;
    top: 16px;
    right: 16px;
    left: 16px;


    border-radius: 8px;
    padding: 8px;

    backdrop-filter: blur(16px);

    > #logo{
        margin-right: auto;
    }
    > .nav-link, .action-button{
        color: white;
        text-decoration: none;
        font-size: 24px;
        font-weight: 700;
    }
    > .action-button{
        background-color: var(--primary-color);
        border-radius: 4px;
        padding: 4px 16px;
    }

    > .nav-link:hover{
        color: lightgray;
        border-bottom: 2px solid white;
    }

    > .profile-icon-container{
        margin-right: 10px;

        > #profile-icon {
            height: 48px;
            width: 48px;
            padding: none;
        }
    }

    > .profile-icon-container:hover{
        border-bottom: 2px solid #377ade;
    }
}


@media only screen and (max-width: 600px){
    #desktop-header{
        display: none;
    }
}

